:root {
  // Statics
  --background: #181818;

  // Base colors
  --black: #000;
  --white: #fff;
  --off-white: #f5f5f5;

  --red: #ff3e00;
  --blue: #00bfff;
}

// Statics
$background: #181818;

// Base colors
$black: #000;
$white: #fff;
$off-white: #e6e6e6;

$red: #ff3e00;
$blue: #00bfff;
